<div class="content-balls-selector">
    <h3>Numbers</h3>
    <ul class="content-balls" >
      <li
        *ngFor="let ball of balls"
        (click)="onSelectBall(ball)"
        [class.selected]="ball.selected"
      >
      <span class="fondo-ball" [ngStyle]="{ 'background-color': ball.color}"></span>
      <span class="num-ball">{{ball.id}}</span>
      </li>
    </ul>
    <div class="content-action-clear">
      <button (click)="onclearSelection()">Clear Selection</button>
    </div>
</div>
