.content-selected-ball{
  background-color:white;
  padding: 20px;
}

.content-selected-ball{
  height: 25px;
}

.content-app-bet-slip ul.content-list-ball{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}


.content-app-bet-slip ul.content-list-ball li{
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 2px;
  background-color: #e2e4e8;
  border-radius: 50%;
  line-height: 22px;
  font-size: 0.8em;
  font-weight: bold;
}

.content-imput-bet{
  margin-bottom: 25px;
  text-align: center;
  background-color:white;
  padding-bottom: 50px;
}

.content-imput-bet label{
  padding: 5px;
  border: 2px solid #e2e4e8;
  text-align: center;
  background-color: #e2e4e8;
  font-size: 0.85em;
}

.content-imput-bet input{
  padding: 5px;
  width:80px;
  border: 2px solid #e2e4e8;
  text-align: right;
  margin-bottom: 5px;
}

.content-imput-bet button{
  margin-left: 10px;
  width: 80px;
  padding: 10px;
}

.content-actions-bet{
  text-align: center;
}

.conten-total-bet{
  padding:10px 5px;
}
.content-actions-bet button{
  width: 100%;
  padding: 10px;
}

form .msg-error{
  margin-top: 5px;
  color: red;
  font-size: 0.85em;
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
}
